In [1]:
import geopandas as gpd
import pandas as pd
from tqdm import tqdm
import requests
import numpy as np

In [7]:
url = 'https://www.nadlan.gov.il/Nadlan.REST/Main/GetAssestAndDeals'

list_res=[]

In [3]:
city_name = "בני ברק"
objid = "6100"
X=184605.75482654
Y=666276.2524939

In [4]:
df_full=pd.DataFrame()

In [5]:
for pagenum in tqdm(range(1,2)):
    data = {"MoreAssestsType":0,"FillterRoomNum":0,"GridDisplayType":0,
            "ResultLable":city_name,
            "ResultType":1,
            "ObjectID":objid,"ObjectIDType":"text","ObjectKey":"UNIQ_ID",
            "DescLayerID":"SETL_MID_POINT","Alert":None,
            "X":X,
            "Y":Y,
            "Gush":"","Parcel":"","showLotParcel":True,
            "showLotAddress":True,"OriginalSearchString":city_name,"MutipuleResults":False,
            "ResultsOptions":None,
            "CurrentLavel":2,
            "Navs":[{"text":None,"url":None,"order":1}],
            "QueryMapParams":{"QueryToRun":None,"QueryObjectID":objid,"QueryObjectType":"number",
                              "QueryObjectKey":"SETL_CODE","QueryDescLayerID":"KSHTANN_SETL_AREA","SpacialWhereClause":None},
            "isHistorical":True,
            "PageNo":pagenum,
            "OrderByFilled":"DEALDATETIME","OrderByDescending":True,"Distance":0}
    result = requests.post(url, json=data).json()
    list_res.append(result)

for r in list_res:
    df= pd.DataFrame(r["AllResults"])
    df_full = pd.concat([df,df_full])

100%|█████████████████████████████████████████████| 1/1 [00:04<00:00,  4.86s/it]

In [6]:
df_full

,DEALDATE,DEALDATETIME,FULLADRESS,DISPLAYADRESS,GUSH,DEALNATUREDESCRIPTION,ASSETROOMNUM,FLOORNO,DEALNATURE,DEALAMOUNT,NEWPROJECTTEXT,PROJECTNAME,BUILDINGYEAR,YEARBUILT,BUILDINGFLOORS,KEYVALUE,TYPE,POLYGON_ID,TREND_IS_NEGATIVE,TREND_FORMAT
0,28.05.2024,2024-05-28T00:00:00,"הירדן 1, בני ברק",הירדן 1,6122-1725-25,דירה בבית קומות,3,שניה,55,"2,370,000",,None,1960,,4,3600849670,1,6122-1725,False,
1,23.05.2024,2024-05-23T00:00:00,"הראשונים 4, בני ברק",הראשונים 4,6122-1406-15,דירה בבית קומות,3,ג,49,"1,850,000",,None,1960,,4,3600759480,1,6122-1406,False,76% ב 11.1 שנים
2,23.05.2024,2024-05-23T00:00:00,"הרצל 63, בני ברק",הרצל 63,6195-83-6,דירה בבית קומות,3,שלישית,63,"1,960,000",,None,2015,,4,3600813826,1,6195-83,False,
3,22.05.2024,2024-05-22T00:00:00,"הרצל 87, בני ברק",הרצל 87,6195-48-4,דירה בבית קומות,3,שניה,68,"1,700,000",,None,1948,2023,None,3600720301,1,6195-48,False,
4,21.05.2024,2024-05-21T00:00:00,"חגי 17, בני ברק",חגי 17,6192-417-2,דירה בבית קומות,4,None,105,"3,000,000",,None,2025,,None,3600649918,1,6192-417,False,
5,21.05.2024,2024-05-21T00:00:00,"רבי עקיבא 147, בני ברק",רבי עקיבא 147,6192-833-4,None,2,קרקע,41.50,"2,350,000",,None,1960,,3,3600868839,1,6192-833,False,
6,20.05.2024,2024-05-20T00:00:00,,,6196-390-2,דירה בבית קומות,3.5,None,82,"2,160,000",,None,2023,,None,3600759248,2,6196-390,False,
7,16.05.2024,2024-05-16T00:00:00,"רב האי גאון 11, בני ברק",רב האי גאון 11,6187-493-6,דירה בבית קומות,2,ראשונה,46.10,"2,050,000",,None,1950,,1,3600551579,1,6187-493,False,86% ב 10.6 שנים
8,16.05.2024,2024-05-16T00:00:00,"טרומפלדור 22, בני ברק",טרומפלדור 22,6195-487-3,דירה בבית קומות,2.5,א,39.80,"1,550,000",,None,1960,,3,3600575301,1,6195-487,False,29% ב 6.3 שנים
9,16.05.2024,2024-05-16T00:00:00,,,6196-390-3,דירה בבית קומות,3,שישית,67,"1,880,000",,None,2022,,None,3600728856,2,6196-390,False,
10,15.05.2024,2024-05-15T00:00:00,"רבי עקיבא 137, בני ברק",רבי עקיבא 137,6192-348-7,דירה בבית קומות,3,ב,62,"2,323,000",,None,1965,,4,3600714037,1,6192-348,False,
11,15.05.2024,2024-05-15T00:00:00,,,6196-390-1,None,3,שישית,67,"1,880,000",1,None,None,,None,11171511386,2,6196-390,False,
12,15.05.2024,2024-05-15T00:00:00,"הרצל 63, בני ברק",הרצל 63,6195-83-7,דירה בבית קומות,3,רביעית,63,"1,845,000",,None,2015,,4,3600799935,1,6195-83,False,
13,09.05.2024,2024-05-09T00:00:00,,,6196-390-4,דירה בבית קומות,5,None,110,"3,510,000",,None,2023,,None,3600709745,2,6196-390,False,
14,09.05.2024,2024-05-09T00:00:00,,,6790-21-7,דירה בבית קומות,5,שישית,164,"3,480,000",,None,2023,,None,3600413510,2,6790-21,False,
15,08.05.2024,2024-05-08T00:00:00,"גרונר 37, בני ברק",גרונר 37,6196-2-140,דירה בבית קומות,3,שניה,67,"2,150,000",,None,1960,,6,3600273324,1,6196-2,False,
16,08.05.2024,2024-05-08T00:00:00,,,6641-11-216,None,5,None,112,"3,000,000",1,None,None,,None,11171526931,2,6641-11,False,
17,08.05.2024,2024-05-08T00:00:00,,,6641-194-11,None,5,חמישית,127,"3,200,000",1,None,None,,None,11171526973,2,6641-194,False,
18,07.05.2024,2024-05-07T00:00:00,"השניים 18, בני ברק",השניים 18,6195-172-12,דירה בבית קומות,3,ראשונה,62,"1,825,000",,None,2021,,4,3600436768,1,6195-172,False,
19,07.05.2024,2024-05-07T00:00:00,,,6196-390-5,דירה בבית קומות,6,None,125,"3,332,000",,None,2023,,None,3600544648,2,6196-390,False,

In [ ]:
df_full=pd.DataFrame()
for start_n in np.arange(401,2001,200):
    
    for pagenum in tqdm(range(start_n,start_n+200)):
        data = {"MoreAssestsType":0,"FillterRoomNum":0,"GridDisplayType":0,
            "ResultLable":city_name,
            "ResultType":1,
            "ObjectID":objid,"ObjectIDType":"text","ObjectKey":"UNIQ_ID",
            "DescLayerID":"SETL_MID_POINT","Alert":None,
            "X":X,
            "Y":Y,
            "Gush":"","Parcel":"","showLotParcel":True,
            "showLotAddress":True,"OriginalSearchString":city_name,"MutipuleResults":False,
            "ResultsOptions":None,
            "CurrentLavel":2,
            "Navs":[{"text":None,"url":None,"order":1}],
            "QueryMapParams":{"QueryToRun":None,"QueryObjectID":objid,"QueryObjectType":"number",
                              "QueryObjectKey":"SETL_CODE","QueryDescLayerID":"KSHTANN_SETL_AREA","SpacialWhereClause":None},
            "isHistorical":True,
            "PageNo":pagenum,
            "OrderByFilled":"DEALDATETIME","OrderByDescending":True,"Distance":0}
        result = requests.post(url, json=data).json()
        list_res.append(result)
    
    for r in list_res:
        df= pd.DataFrame(r["AllResults"])
        df_full = pd.concat([df,df_full])
    df_full=df_full.drop_duplicates()
    df_full.to_csv(f"bneibrak_nadlan_pages_{start_n+200}.csv")

100%|█████████████████████████████████████████| 200/200 [16:54<00:00,  5.07s/it]
100%|█████████████████████████████████████████| 200/200 [16:50<00:00,  5.05s/it]
100%|█████████████████████████████████████████| 200/200 [17:06<00:00,  5.13s/it]
100%|█████████████████████████████████████████| 200/200 [17:07<00:00,  5.14s/it]
100%|█████████████████████████████████████████| 200/200 [16:38<00:00,  4.99s/it]
100%|█████████████████████████████████████████| 200/200 [16:07<00:00,  4.84s/it]
100%|█████████████████████████████████████████| 200/200 [16:26<00:00,  4.93s/it]
 55%|██████████████████████▎                  | 109/200 [08:36<06:53,  4.54s/it]

In [ ]:
o

In [5]:
start_n=801

data = pd.read_csv(f"holon_nadlan_pages{start_n}_{start_n+200}.csv")

data = data.drop_duplicates()

# df_full=pd.DataFrame()

data

,Unnamed: 0,DEALDATE,DEALDATETIME,FULLADRESS,DISPLAYADRESS,GUSH,DEALNATUREDESCRIPTION,ASSETROOMNUM,FLOORNO,DEALNATURE,...,NEWPROJECTTEXT,PROJECTNAME,BUILDINGYEAR,YEARBUILT,BUILDINGFLOORS,KEYVALUE,TYPE,POLYGON_ID,TREND_IS_NEGATIVE,TREND_FORMAT
0,0,15.11.2013,2013-11-15T00:00:00,"נורדאו 7, חולון",נורדאו 7,7167-118-3,דירה בבית קומות,4.0,שניה,63.20,...,NaN,NaN,1960.0,NaN,3.0,3286494049,1,7167-118,False,NaN
1,1,15.11.2013,2013-11-15T00:00:00,"יוסף הנשיא 3, חולון",יוסף הנשיא 3,7171-117-6,דירה בבית קומות,3.0,שניה,65.08,...,NaN,NaN,2004.0,NaN,4.0,3286496920,1,7171-117,False,86% ב 9.5 שנים
2,2,14.11.2013,2013-11-14T00:00:00,"התחייה 19, חולון",התחייה 19,6021-940-45,דירה בבית קומות,2.5,רביעית,42.40,...,NaN,NaN,1960.0,NaN,4.0,3287017789,1,6021-940,False,97% ב 6 שנים
3,3,14.11.2013,2013-11-14T00:00:00,"יצחק וולקני 13, חולון",יצחק וולקני 13,6049-269-12,דירה בבית קומות,3.0,שלישית,57.23,...,NaN,NaN,1970.0,NaN,3.0,3286500777,1,6049-269,False,84% ב 7.3 שנים
4,4,14.11.2013,2013-11-14T00:00:00,NaN,NaN,6869-11-27,דירה בבית קומות,4.0,קומה ‎7‏,113.15,...,NaN,NaN,NaN,NaN,NaN,3286692177,2,6869-11,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,15,15.05.2024,2024-05-15T00:00:00,"דב הוז 67, חולון",דב הוז 67,7162-202-8,דירה בבית קומות,3.0,שניה,67.59,...,NaN,NaN,1970.0,NaN,3.0,3600519998,1,7162-202,False,NaN
19996,16,15.05.2024,2024-05-15T00:00:00,"ארלוזורוב 17, חולון",ארלוזורוב 17,7170-44-18,NaN,5.0,רביעית,130.00,...,1.0,NaN,1930.0,NaN,6.0,11171539210,1,7170-44,False,NaN
19997,17,13.05.2024,2024-05-13T00:00:00,"הגר""א 26, חולון","הגר""א 26",7162-229-10,דירה בבית קומות,4.0,שלישית,72.84,...,NaN,NaN,1995.0,NaN,4.0,3600426734,1,7162-229,False,28% ב 7.5 שנים
19998,18,12.05.2024,2024-05-12T00:00:00,"דוד אלעזר 7, חולון",דוד אלעזר 7,6020-318-3,דירה בבית קומות,3.0,ראשונה,67.00,...,NaN,NaN,2025.0,NaN,1.0,3600652557,1,6020-318,False,NaN
19999,19,10.05.2024,2024-05-10T00:00:00,"חנקין 117, חולון",חנקין 117,6021-522-24,דירה בבית קומות,2.0,ראשונה,36.60,...,NaN,NaN,1960.0,NaN,2.0,3600477426,1,6021-522,False,16% ב 1 שנים