In [1]:
import geopandas as gpd
import pandas as pd
from tqdm import tqdm
import requests
import numpy as np

In [2]:
url = 'https://www.nadlan.gov.il/Nadlan.REST/Main/GetAssestAndDeals'

list_res=[]

In [3]:
city_name = "אור יהודה"
objid = "2400"
X=189331.73952654
Y=666531.4596939
nav_text = None
city_name_eng = 'or_yahuda'

In [4]:
df_full=pd.DataFrame()

In [5]:
for pagenum in tqdm(range(1,2)):
    data = {"MoreAssestsType":0,"FillterRoomNum":0,"GridDisplayType":0,
            "ResultLable":city_name,
            "ResultType":1,
            "ObjectID":objid,"ObjectIDType":"text","ObjectKey":"UNIQ_ID",
            "DescLayerID":"SETL_MID_POINT","Alert":None,
            "X":X,
            "Y":Y,
            "Gush":"","Parcel":"","showLotParcel":True,
            "showLotAddress":True,"OriginalSearchString":city_name,"MutipuleResults":False,
            "ResultsOptions":None,
            "CurrentLavel":2,
            "Navs":[{"text":nav_text,"url":None,"order":1}],
            "QueryMapParams":{"QueryToRun":None,"QueryObjectID":objid,"QueryObjectType":"number",
                              "QueryObjectKey":"SETL_CODE","QueryDescLayerID":"KSHTANN_SETL_AREA","SpacialWhereClause":None},
            "isHistorical":True,
            "PageNo":pagenum,
            "OrderByFilled":"DEALDATETIME","OrderByDescending":True,"Distance":0}
    result = requests.post(url, json=data).json()
    list_res.append(result)

for r in list_res:
    df= pd.DataFrame(r["AllResults"])
    df_full = pd.concat([df,df_full])

100%|█████████████████████████████████████████████| 1/1 [00:04<00:00,  4.09s/it]

In [6]:
df_full

,DEALDATE,DEALDATETIME,FULLADRESS,DISPLAYADRESS,GUSH,DEALNATUREDESCRIPTION,ASSETROOMNUM,FLOORNO,DEALNATURE,DEALAMOUNT,NEWPROJECTTEXT,PROJECTNAME,BUILDINGYEAR,YEARBUILT,BUILDINGFLOORS,KEYVALUE,TYPE,POLYGON_ID,TREND_IS_NEGATIVE,TREND_FORMAT
0,24.05.2024,2024-05-24T00:00:00,"שיזף 5, אור יהודה",שיזף 5,7220-83-18,דירה בבית קומות,4,חמישית,101.59,"2,475,000",,None,1996,,9,3600761423,1,7220-83,False,
1,21.05.2024,2024-05-21T00:00:00,"דקל 3, אור יהודה",דקל 3,7220-83-78,דירה בבית קומות,4,ראשונה,101.59,"2,650,000",,None,1996,,10,3600801124,1,7220-83,False,73% ב 9.9 שנים
2,20.05.2024,2024-05-20T00:00:00,"יהדות קנדה 41, אור יהודה",יהדות קנדה 41,7215-85-64,דירה בבית קומות,3,רביעית,63,"1,535,000",,None,1970,,4,3600623151,1,7215-85,False,79% ב 8.1 שנים
3,19.05.2024,2024-05-19T00:00:00,"אבנר 8, אור יהודה",אבנר 8,6485-170-13,דירה בבית קומות,3,שלישית,68,"1,860,000",,None,1970,,4,3600645133,1,6485-170,False,
4,19.05.2024,2024-05-19T00:00:00,"הכלנית 11, אור יהודה",הכלנית 11,7218-17-10,דירה בבית קומות,5,שניה,132,"3,393,000",,None,2023,,3,3600762641,1,7218-17,False,17% ב 1.4 שנים
5,18.05.2024,2024-05-18T00:00:00,,,7408-96-29,None,4,אחת עשרה,102,"2,890,000",1,None,None,,None,11171543928,2,7408-96,False,
6,09.05.2024,2024-05-09T00:00:00,"יקותיאל אדם 20, אור יהודה",יקותיאל אדם 20,7218-88-4,דירה בבית קומות,4,שניה,87,"1,950,000",,None,1970,,4,3600474323,1,7218-88,False,
7,06.05.2024,2024-05-06T00:00:00,"אור יום 17, אור יהודה",אור יום 17,7215-99-57,דירה בבית קומות,4,None,99,"2,050,000",,None,1981,,7,3600695912,1,7215-99,False,
8,30.04.2024,2024-04-30T00:00:00,"יחזקאל קזז 16, אור יהודה",יחזקאל קזז 16,6229-84-30,דירה בבית קומות,5,שישית,121,"2,700,000",,None,2021,,12,3600560656,1,6229-84,False,
9,30.04.2024,2024-04-30T00:00:00,"איילת השחר 20, אור יהודה",איילת השחר 20,7215-5-23,דירה בבית קומות,3,רביעית,54.50,"1,560,000",,None,1960,,4,3600184816,1,7215-5,False,30% ב 4.9 שנים
10,29.04.2024,2024-04-29T00:00:00,,,7408-97-18,None,4,שביעית,102,"2,850,000",1,None,None,,None,11171543942,2,7408-97,False,
11,21.04.2024,2024-04-21T00:00:00,"הכלנית 9, אור יהודה",הכלנית 9,7218-17-2,דירה בבית קומות,3,ראשונה,59.60,"2,469,000",,None,2023,,3,3599964474,1,7218-17,False,5% ב 0.3 שנים
12,16.04.2024,2024-04-16T00:00:00,"יחזקאל קזז 16, אור יהודה",יחזקאל קזז 16,6229-84-31,דירה בבית קומות,5,שמינית,117,"2,450,000",,None,2021,,12,3600805909,1,6229-84,False,
13,16.04.2024,2024-04-16T00:00:00,"החלוצים 7, אור יהודה",החלוצים 7,7214-22-2,דירה בבית קומות,3,ראשונה,44,"1,750,000",,None,1960,,3,3600054693,1,7214-22,False,253% ב 24.9 שנים
14,16.04.2024,2024-04-16T00:00:00,,,7408-97-19,דירה בבית קומות,7,חמש עשרה,183,"4,700,000",,None,None,,None,3599539073,2,7408-97,False,
15,15.04.2024,2024-04-15T00:00:00,"הכלנית 13, אור יהודה",הכלנית 13,7218-17-14,דירה בבית קומות,5,ראשונה,120,"3,350,000",,None,2023,,3,3600213033,1,7218-17,False,50% ב 0.4 שנים
16,14.04.2024,2024-04-14T00:00:00,"בר לב חיים 7, אור יהודה",בר לב חיים 7,7240-60-18,דירה בבית קומות,4,חמישית,101.03,"2,595,000",,None,1997,,10,3599529764,1,7240-60,False,155% ב 21.6 שנים
17,11.04.2024,2024-04-11T00:00:00,"יחזקאל קזז 16, אור יהודה",יחזקאל קזז 16,6229-84-32,דירה בבית קומות,5,שמינית,121,"2,750,000",,None,2021,,12,3600124525,1,6229-84,False,
18,10.04.2024,2024-04-10T00:00:00,"יחזקאל קזז 16, אור יהודה",יחזקאל קזז 16,6229-84-33,דירה בבית קומות,4,שלוש עשרה,103,"2,470,000",,None,2021,,12,3600128353,1,6229-84,False,
19,10.04.2024,2024-04-10T00:00:00,,,7408-97-17,None,7,חמש עשרה,183,"4,700,000",1,None,None,,None,11171543941,2,7408-97,False,

In [7]:
df_full=pd.DataFrame()
for start_n in np.arange(1,1001,200):
   
    end_n = 200+start_n
    for pagenum in tqdm(range(start_n,end_n)):
        data = {"MoreAssestsType":0,"FillterRoomNum":0,"GridDisplayType":0,
            "ResultLable":city_name,
            "ResultType":1,
            "ObjectID":objid,"ObjectIDType":"text","ObjectKey":"UNIQ_ID",
            "DescLayerID":"SETL_MID_POINT","Alert":None,
            "X":X,
            "Y":Y,
            "Gush":"","Parcel":"","showLotParcel":True,
            "showLotAddress":True,"OriginalSearchString":city_name,"MutipuleResults":False,
            "ResultsOptions":None,
            "CurrentLavel":2,
            "Navs":[{"text":nav_text,"url":None,"order":1}],
            "QueryMapParams":{"QueryToRun":None,"QueryObjectID":objid,"QueryObjectType":"number",
                              "QueryObjectKey":"SETL_CODE","QueryDescLayerID":"KSHTANN_SETL_AREA","SpacialWhereClause":None},
            "isHistorical":True,
            "PageNo":pagenum,
            "OrderByFilled":"DEALDATETIME","OrderByDescending":True,"Distance":0}
        result = requests.post(url, json=data).json()
        list_res.append(result)
    
    for r in list_res:
        df= pd.DataFrame(r["AllResults"])
        df_full = pd.concat([df,df_full])
    df_full.to_csv(f"{city_name_eng}_nadlan_pages_{start_n+200}.csv")

100%|█████████████████████████████████████████| 200/200 [07:39<00:00,  2.30s/it]
100%|█████████████████████████████████████████| 200/200 [07:26<00:00,  2.23s/it]
100%|█████████████████████████████████████████| 200/200 [08:03<00:00,  2.42s/it]
100%|█████████████████████████████████████████| 200/200 [07:56<00:00,  2.38s/it]
100%|█████████████████████████████████████████| 200/200 [07:38<00:00,  2.29s/it]

In [14]:
for r in list_res:
    df= pd.DataFrame(r["AllResults"])
    df_full = pd.concat([df,df_full])
df_full.to_csv(f"{city_name_eng}_nadlan_pages_{start_n+200}.csv")

In [15]:
df_full.shape

(3700, 20)

In [5]:
start_n=801

data = pd.read_csv(f"holon_nadlan_pages{start_n}_{start_n+200}.csv")

data = data.drop_duplicates()

# df_full=pd.DataFrame()

data

,Unnamed: 0,DEALDATE,DEALDATETIME,FULLADRESS,DISPLAYADRESS,GUSH,DEALNATUREDESCRIPTION,ASSETROOMNUM,FLOORNO,DEALNATURE,...,NEWPROJECTTEXT,PROJECTNAME,BUILDINGYEAR,YEARBUILT,BUILDINGFLOORS,KEYVALUE,TYPE,POLYGON_ID,TREND_IS_NEGATIVE,TREND_FORMAT
0,0,15.11.2013,2013-11-15T00:00:00,"נורדאו 7, חולון",נורדאו 7,7167-118-3,דירה בבית קומות,4.0,שניה,63.20,...,NaN,NaN,1960.0,NaN,3.0,3286494049,1,7167-118,False,NaN
1,1,15.11.2013,2013-11-15T00:00:00,"יוסף הנשיא 3, חולון",יוסף הנשיא 3,7171-117-6,דירה בבית קומות,3.0,שניה,65.08,...,NaN,NaN,2004.0,NaN,4.0,3286496920,1,7171-117,False,86% ב 9.5 שנים
2,2,14.11.2013,2013-11-14T00:00:00,"התחייה 19, חולון",התחייה 19,6021-940-45,דירה בבית קומות,2.5,רביעית,42.40,...,NaN,NaN,1960.0,NaN,4.0,3287017789,1,6021-940,False,97% ב 6 שנים
3,3,14.11.2013,2013-11-14T00:00:00,"יצחק וולקני 13, חולון",יצחק וולקני 13,6049-269-12,דירה בבית קומות,3.0,שלישית,57.23,...,NaN,NaN,1970.0,NaN,3.0,3286500777,1,6049-269,False,84% ב 7.3 שנים
4,4,14.11.2013,2013-11-14T00:00:00,NaN,NaN,6869-11-27,דירה בבית קומות,4.0,קומה ‎7‏,113.15,...,NaN,NaN,NaN,NaN,NaN,3286692177,2,6869-11,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,15,15.05.2024,2024-05-15T00:00:00,"דב הוז 67, חולון",דב הוז 67,7162-202-8,דירה בבית קומות,3.0,שניה,67.59,...,NaN,NaN,1970.0,NaN,3.0,3600519998,1,7162-202,False,NaN
19996,16,15.05.2024,2024-05-15T00:00:00,"ארלוזורוב 17, חולון",ארלוזורוב 17,7170-44-18,NaN,5.0,רביעית,130.00,...,1.0,NaN,1930.0,NaN,6.0,11171539210,1,7170-44,False,NaN
19997,17,13.05.2024,2024-05-13T00:00:00,"הגר""א 26, חולון","הגר""א 26",7162-229-10,דירה בבית קומות,4.0,שלישית,72.84,...,NaN,NaN,1995.0,NaN,4.0,3600426734,1,7162-229,False,28% ב 7.5 שנים
19998,18,12.05.2024,2024-05-12T00:00:00,"דוד אלעזר 7, חולון",דוד אלעזר 7,6020-318-3,דירה בבית קומות,3.0,ראשונה,67.00,...,NaN,NaN,2025.0,NaN,1.0,3600652557,1,6020-318,False,NaN
19999,19,10.05.2024,2024-05-10T00:00:00,"חנקין 117, חולון",חנקין 117,6021-522-24,דירה בבית קומות,2.0,ראשונה,36.60,...,NaN,NaN,1960.0,NaN,2.0,3600477426,1,6021-522,False,16% ב 1 שנים